/* GFont: Allan, Raleway */
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Raleway&display=swap');

:root {
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
  --ff-logo: 'Allan', cursive;
  --color-ff-primary: #fff;
  --color-ff-secondary: #000;
  --color-ff-link: #ddd;
  --color-ff-link-hover: #c2d5ff;
}

* {
  font-family: var(--ff-primary);
  color: var(--color-ff-primary);
}

.ff-logo {
  font-family: var(--ff-logo);
  color: var(--color-ff-primary);
  font-size: 3em;
}

h1 {
  font-size: 2em;
  font-family: var(--ff-secondary);
  color: var(--color-ff-primary);
}

h2 {
  font-size: 1.8em;
  font-family: var(--ff-secondary);
  color: var(--color-ff-primary);
}

h3 {
  font-size: 1.3em;
  font-family: var(--ff-secondary);
  color: var(--color-ff-primary);
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }
}