extends templates/layout.pug
  
block content
  h1.pagetitle Get your game on
  p Velkommen til denne demo-siden for prosjektet. Kildekoden finner du <a href="https://github.com/VaagenIM/spill.iktim.no">her</a>
  p Installasjonsguide: <a href="#" target="_blank">Windows</a>, <a href="#" target="_blank">MacOS</a>
  #game-grid
    each game, link in gameList
      a#game-grid-card(href=link)
        img.game-card-cover(src=game['cover'])
        h1.game-title=game['title']
        if game['category']
          #game-card-categories
            each category in game['category']
              .game-card-category=category
