extends templates/layout.pug
  
block content
  h1.pagetitle Get your game on
  p Vi er så heldige å ha flotte spillutviklere som lar oss spille gratis videospill i skolen.
  p OBS: Mac brukere må tillate installasjon av ukjent programvare, eventuelt laste ned og kjøre dette skriptet: <a href="https://github.com/VaagenIM/devmode-script/releases/download/v1.0/mac-allow-installs.sh">mac-allow-installs.sh</a>
  #game-grid
    each game, link in gameList
      a#game-grid-card(href=link)
        img.game-card-cover(src=game['cover'])
        h1.game-title=game['title']
        if game['category']
          #game-card-categories
            each category in game['category']
              .game-card-category=category
