h3 
  #copyright © Sondre Grønås
  a(href=`https://github.com/VaagenIM/spill.iktim.no` target="_blank") Kildekode
  a(href=`mailto:mail@${base_url}`) Kontakt
  a.hide_mobile(href="https://vincentgarreau.com/particles.js/" target="_blank") ParticleJS
