include variables.pug
meta(name="viewport" content="width=device-width, initial-scale=1")
title #{title||'Spill'}
link(rel="shortcut icon" type="image/x-icon" href=favicon)
link(rel="stylesheet" type="text/css" href=css)
link(rel="stylesheet" type="text/css" href='./css/games.css')
// Icons
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
// Extra headroom 
block head
