if (!homepage)
  a(href=`//${base_url}`) Hjem
a(href='https://www.vaagen.vgs.no/hovedmeny/for-elever/skolehverdag-og-ikt/ikt-og-elev-pc/' target="_blank") IKT
a(href=`//spill.${base_url}`) Spill
a(href=`//docs.${base_url}`) Docs
